@{
    ViewData["Title"] = "Home Page";
}
<style>
    /* CSS to style the slider */
.slider-container {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
}

.slider-image {
    max-width: 100%;
    display: none;
}


</style>

<div class="slider-container">
    <img class="slider-image" src="/assests/Homepagebanner.jpg" alt="..." />
    <img class="slider-image" src="/assests/Wide-Holiday-Banner.jpg" alt="..." />
    <img class="slider-image" src="/assests/electronics-sale.jpg" alt="..." />
</div>

<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>


<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="ProductDiv">
       @*      
       div+='      <div class="col mb-5">';
       div+='         <div class="card h-100">';
       div+='             <!-- Product image-->';
       div+='             <img class="card-img-top" src="~/assests/img1.png" alt="..."  />';
       div+='             <!-- Product details-->';
       div+='             <div class="card-body p-4">';
       div+='   ';
       div+='                 <div class="text-center">';
       div+='                     <!-- Product name-->';
       div+='                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Product"> ';
       div+='                         <h5 class="fw-bolder" id="Product"></h5></a>';
       div+='                   <span id="Price"></span>';
       div+='                     <!-- Product price-->';
       div+='                 </div>';
       div+='             </div>';
       div+='             <!-- Product actions-->';
       div+='             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">';
       div+='                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>';
       div+='             </div>';
       div+='         </div>';
       div+='     </div> '; *@

           @*  <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Special Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            *@

        </div>
    </div>
</section>

<script>
    let slideIndex = 1;
    // JavaScript to create a simple automatic image slider
    let currentSlide = 0;
    const slides = document.querySelectorAll(".slider-image");

    function showSlide() {
        slides[currentSlide].style.display = "none";
        currentSlide = (currentSlide + 1) % slides.length;
        slides[currentSlide].style.display = "block";
    }

    // Initially show the first slide
    showSlide();

    // Automatically advance to the next slide every 3 seconds (adjust as needed)
    setInterval(showSlide, 3000); // Change slide every 3 seconds


</script>